/**************** common css start ****************/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700;900&display=swap');

body {
    font-family: $body_font;
    padding: 0;
    margin: 0;
    font-size: $body_font_size;
    font-weight: $font_ragular;
    letter-spacing: 0em;
    line-height: $body_line_height;
}
html{
    scroll-behavior: smooth;
}
.navbar .navbar-toggler{
    border: 2px solid #eb7d4b;
    span{
        display: block;
        height: 2px;
        width: 40px;
        background-color: #eb7d4b;
        margin: 5px;
    }
}
.navbar-toggler:focus{
    box-shadow: none !important;
}
input:hover,
input:focus {
    outline: none !important;
    box-shadow: 0px 0px 0px 0px transparent;
}

:focus {
    outline: -webkit-focus-ring-color auto 0;
}

.custom-file-input:focus~.custom-file-label {
    border-color: transparent;
    box-shadow: none;
}

::placeholder {
    color: white !important;
    font-weight: 700 !important;
    opacity: 1 !important;
   
  }
.form-control{
      border: 0 !important;
  }
  
 //:-ms-input-placeholder { /* Internet Explorer 10-11 */
   //color: white !important;
 // }
  
 // ::-ms-input-placeholder { /* Microsoft Edge */
  // color: white !important;
 // }


a {
    text-decoration: none;
    @include transform_time(.3s);

    &:hover {
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading_font;
    font-weight: $font_medium;
}

h1 {
    font-size: $h1_font_size;
    font-weight: $font_bold;
}

h2 {
    font-size: $h2_font_size;
    font-weight: $font_bold;
}

h3 {
    font-size: $h3_font_size;
    font-weight: $font_bold;
}

p {
    line-height: $body_line_height;
    font-size: $body_font_size;
    margin-bottom: 0px;
    font-family: $body_font;
    font-weight: $font_ragular;
}

a:focus,
.button:focus,
button:focus,
.btn:focus {
    text-decoration: none;
    outline: none;
    box-shadow: none;
    -webkit-transition: all .25s cubic-bezier(.645, .045, .355, 1);
    transition: all .25s cubic-bezier(.645, .045, .355, 1);
}

@media (min-width: 1400px) {
    .custom_container {
        max-width: 1200px;
    }
}

.font_300 {
    font-weight: 300 !important;
}

.font_400 {
    font-weight: 400 !important;
}

.font_500 {
    font-weight: 500 !important;
}

.font_600 {
    font-weight: 600 !important;
}

.font_700 {
    font-weight: 700 !important;
}

.font_800 {
    font-weight: 800 !important;
}

.cre_top_scroll {
    display: inline-grid;
    place-items: center;
    background-color: $base_color_1;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
    i{
        font-size: 24px;
        color: $white;
    }
}

.cre_top_scroll:hover {
    cursor: pointer;
    background-color: #333;
}

.cre_top_scroll:active {
    background-color: #555;
}

.cre_top_scroll.show {
    opacity: 1;
    visibility: visible;
}
footer{
    ul{
        li{
            a{
                font-size: 1.5rem;
                font-weight: 700;
                color: #fff;
            }
        }
    }
}
@media #{$xs_mobile} {
    footer{
        ul{
            li{
                a{
                    font-size: 1rem;
                }
            }
        }
    }
}
@media #{$large_mobile}{
    .navbar-nav{
        text-align: center;
        .nav-item{
            a{
                display: inline-block;
            }
        }
    }
}
@media #{$tab_device}{
    .navbar-nav{
        text-align: center;
        .nav-item{
            a{
                display: inline-block;
            }
        }
    }
}
/**************** common css end ****************/