$heading_font: 'Titillium Web', sans-serif;
$body_font: 'Titillium Web', sans-serif;

//color
$white: #fff;
$black: #000;
$base_color_1: #F26522;
$base_color_2: #F26522;
$section_bg: #f7f7f7;
$section_bg_1: #f0f3f7;
$menu_color: #fff;
$heading_color: #111;
$text_color_1: #7c8189;
$text_color_2: #4b4b4b;
$border_color: #d6d9dc;
$icon_color: #9198a4;

//typography
$h1_font_size: 2.635rem;
$h2_font_size: 2.5rem;
$h3_font_size: 1.5rem;
$body_font_size: 1.125rem;

$h4_font_size: 28px;
$h5_font_size: 22px;
$h6_font_size: 18px;


//font weight
$font_extra_bold: 900;
$font_bold: 700;
$font_semi_bold: 600;
$font_medium: 500;
$font_ragular: 400;
$font_light: 300;


.btn{
    font-weight: $font_semi_bold;
}
//font line height
$body_line_height: 1.5;


$big_device: '(min-width: 991px)';
$tab: '(max-width: 991px)';
$mobile:'(max-width: 767.98px)';
$xs_mobile:'(max-width: 576px)';
$extra_big_screen: 'only screen and (min-width: 1441px) and (max-width: 1680px)';
$big_screen:'only screen and (min-width: 1200px) and (max-width: 1441px)';
$medium_device : 'only screen and (min-width: 992px) and (max-width: 1199.98px)';
$tab_device:'only screen and (min-width: 768px) and (max-width: 991.98px)';
$large_mobile: 'only screen and (min-width: 576px) and (max-width: 767.98px)';
